*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}
body{
    width:100%;
    height:100%;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    background-repeat: no-repeat;

}

footer{
    text-align:center;
    margin:2% 0 0 0;
    color:white;
}
footer a{
    color:white;
    text-decoration: none;
}
    footer a:hover{
        color:rgb(126, 251, 255);
        text-decoration: underline;
    }


.container{
    margin:4% auto 0 auto;
    width:80%;
    max-width:400px;
    height:80vh;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:0px 8px 16px rgba(0, 0, 0, 0.16);
    border-radius:10px;
}
form{
    width:80%;
    height:100px;
}
.cifrao{
    background-color:green;
    float:left;
    width:20%;
    height:40px;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cifrao p{
    font-size:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    -webkit-user-select: none;
}
#valueDollars{
    width:80%;
    height:40px;
    font-size:30px;
    outline: none;
    border:0px transparent;
    border-bottom:1px solid green;
    background-color:transparent;
    color:green;
    padding:0px 5px 0px 5px;
}
#Converter{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width:60%;
    height:30px;
    color:green;
    background-color:white;
    outline: none;
    font-size:20px;
    border:1px solid green;
    border-radius:5px;
}
#Converter:active,
#Converter:hover{
    cursor: pointer;
    background-color:green;
    color:white;
}
table{
    margin-top:20px;
}
td p{
    float:left;
}
td{
    color: green;
    width:150px;
    height:40px;
    font-size:20px;
    text-align:center;
}

#back{
    position: fixed;
    z-index: -1;
    width:100%;
    size:100%;
}